@charset "utf-8";
.special-bg{ padding: 50px 0 30px; height:1870px;}
.bottom-bg,.case{ margin-top: 0;}
.special{ width: 100%; overflow: hidden;}
.special li{ float: left; width: 23%; background: #fff; margin: 0 1% 2%;}
.special li .special-tu{ width: 100%; height: 280px; overflow: hidden;}
.special li .special-tu img{ width: 70%; height: auto; padding: 15%;}
.special li h3{ padding: 20px 0 10px;}
.special li h3 span{ font-size: 18px; padding-left: 20px; padding-right: 10px;}
.special li h3 img{ vertical-align: bottom;}
.special li p{ padding-left: 20px; color: #666; font-size: 16px; padding-bottom: 10px;}
.special li p span{ color: #ee7e65;}
.special li p span b{ font-size: 18px;}
.c-dh{ top: 30%; right: 50px; position: fixed;}
.c-dh ul{ width: 100%; background: #fff; margin-bottom: 10px;}
.c-dh ul li{ border-bottom: #e6e6e6 1px solid; width: 80%; margin: 0 auto; text-align: center;}
.c-dh ul li:last-child{ border-bottom: none;}
.c-dh ul li a{ line-height: 30px; display: block;}
.c-dh ul li a:hover,.c-dh ul li.curr a{ color: #ee7e65; font-size: 14px;}
@media screen and (min-width:1000px) and (max-width:1200px){
	
}
@media screen and (min-width:320px) and (max-width:1000px){
	
}